.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 46px;
}

.about__wrapper {
  display: inline-block;
  max-width: 490px;
}

.about__img {
  max-width: 600px;
  float: left;
  margin-right: 77px;

}

.about__text {
  margin-bottom: 56px;
  display: block;
}

.about__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  white-space: pre-wrap;
  padding-left: 2px;
}

.about__item:not(:last-child) {
  margin-bottom: 29px;
}

.about__blockquote {
  overflow: hidden;
}

.about__description {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 22px;
  padding-left: 21px;
  white-space: pre-wrap;
}

.about__description::before {
  content: "\201c";
  position: absolute;
  top: -9px;
  left: 2px;
  display: inlne-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--dark-purple-color);
}

.about__description::after {
  content: "\201d";
  display: inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--dark-purple-color);
}

.about__mark {
  color: var(--dark-purple-color);
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.about__boss {
  width: 389px;
  height: 84px;
  margin: auto auto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  float: right;
  padding: 8px 0 0 12px;
}

.about__img-boss {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0px -11px;
  margin-right: 25px;
}

.about__text-block {
  max-width: 240px;
  display: inline-block;
}

@media (max-width: 1240px) {

  .about {}

  .about__title {
    font-size: 30px;
    line-height: 40px;
    padding-top: 40px;
    margin-bottom: 29px;
  }

  .about__img {
    max-width: 420px;
    margin-right: 40px;
  }

  .about__wrapper {
    max-width: 444px;
  }

  .about__text {
    margin-bottom: 39px;
  }

  .about__item {
    font-size: 18px;
    line-height: 24px;
  }

  .about__item:not(:last-child) {
    margin-bottom: 23px;
  }

  .about__description {
    max-width: 431px;
    font-size: 30px;
    line-height: 36px;
    white-space: normal;
    padding-left: 30px;
    margin-bottom: 22px;
  }

  .about__description::after {
    font-size: 30px;
    line-height: 36px;
  }

  .about__img {
    margin-right: 37px;
  }

  .about__boss {
    padding: 0px 0 0 63px;
  }

  .about__img-boss {
    height: 70px;
    width: 70px;
    margin-right: 9px;
  }

  .about__text-block {
    font-size: 18px;
    line-height: 26px;
    padding-left: 19px;
  }
}

@media (max-width: 962px) {

  .about {
    /* display: none; */
    min-height: 752px;
  }

  .about__title {
    font-size: 24px;
    line-height: 36px;
    padding-top: 29px;
  }

  .about__img {
    max-width: 383px;
    margin-right: 24px;
  }

  .about__wrapper {
    max-width: 278px;
    padding-top: 68px;
    height: 247px;
  }

  .about__item {
    font-size: 16px;
    line-height: 22px;
    white-space: normal;
  }

  .about__text {
    margin-bottom: 112px;
  }

  .about__blockquote {
    width: 688px;
    float: right;
  }

  .about__description {
    max-width: 688px;
    font-size: 32px;
    line-height: 36px;
    padding-left: 25px;
    margin-bottom: 16px;
  }

  .about__description::before {
    font-size: 32px;
    line-height: 36px;
  }

  .about__boss {
    padding: 6px 0 0 72px;
  }

  .about__img-boss {
    margin-right: 0px;
  }

  .about__text-block {
    padding-top: 3px;
  }

}

@media (max-width: 748px) {

  .about {
    min-height: 675px;
  }

  .about__img {
    max-width: 265px;
  }

  .about__wrapper {
    max-width: 210px;
    padding-top: 0px;
  }

  .about__text {
    margin-bottom: 20px;
}

  .about__description {
    padding-left: 201px;
  }
}

@media (max-width: 555px) {
  .about {
    display: none;
  }
}

