.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 46px;
}

.about__wrapper {
  display: inline-block;
  max-width: 490px;
}

.about__img {
  max-width: 600px;
  float: left;
  margin-right: 77px;
  
}

.about__text {
  margin-bottom: 56px;
  display: block;
}

.about__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  white-space: pre-wrap;
  padding-left: 2px;
}

.about__item:not(:last-child) {
  margin-bottom: 29px;
}

.about__blockquote {
  overflow: hidden;
}

.about__description {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 22px;
  padding-left: 21px;
  white-space: pre-wrap;
}

.about__description::before {
  content: "\201c";
  position: absolute;
  top: -9px;
  left: 2px;
  display: inlne-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--dark-purple-color);
}

.about__description::after {
  content: "\201d";
  display: inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--dark-purple-color);
}

.about__mark {
  color: var(--dark-purple-color);
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.about__boss {
  width: 389px;
  height: 84px;
  margin: auto auto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  float: right;
  padding: 8px 0 0 12px;
}

.about__img-boss {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0px -11px;
  margin-right: 25px;
}

.about__text-block {
  max-width: 240px;
  display: inline-block;
}

@media (max-width: 1200px) {

  .about {
    display: none;
  }
}