.entertainment__title {
  font-weight: Bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
  margin-bottom: 41px;
}

.entertainment__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  min-height: 495px;
}
/* при сжатии страницы какая-то беда с отступами */

/* .entertainment__item:not(:last-child) {
  margin-bottom: 40px;
} */

.entertainment__figure {
  position: relative;
}

/* увеличение карточек при наведении */
.entertainment__figure:hover {
  transform: scale(1.1, 1.1);
}


.entertainment__img {}

.entertainment__item {}

.entertainment__figcaption {
  position: absolute;
  margin-top: -62px;
  margin-left: 40px;
  font-weight: Bold;
  font-size: 20px;
  Line-height: 28px;
  white-space: pre-line;
}