.entertainment {
  min-height: 808px;
}

.entertainment__title {
  font-weight: Bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
  margin-bottom: 41px;
  padding-right: 7px;
}

.entertainment__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  /* min-height: 495px; */
  gap: 40px 0px;
}

.entertainment__item {
  max-height: 228px;
}

.entertainment__item:nth-child(3n+2) {
  padding-top: 70px;
  /* gap: 70px 0px; */
  /* остальне карточки так же двигаются вниз */
}

/* .entertainment__item:not(:last-child) {
  margin-bottom: 40px;
} */

.entertainment__figure {
  position: relative;
  max-height: 228px;
  /* анимации. увеличение карточек при наведении */
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

/* анимации. увеличение карточек при наведении */
.entertainment__figure:hover {
  transform: scale(1.1, 1.1);
}

.entertainment__figcaption {
  position: absolute;
  margin-top: -62px;
  margin-left: 40px;
  font-weight: Bold;
  font-size: 20px;
  Line-height: 28px;
  white-space: pre-line;
}