footer {
  padding-top: 54px;
  padding-bottom: 50px;
  background: linear-gradient(#1B1A1B, #370A37);
}

/* Анимации иконок соц сетей */
.footer__social-link:hover {
  display: block;
  color: var(--white-purple-color);
}

/* Анимации иконок соц сетей */
.footer__social-link:focus {
  display: block;
  outline-color: var(--light-purple-color);
  color: var(--white-purple-color);
}

/* Анимации иконок соц сетей */
.footer__social-link:active {
  display: block;
  color: var(--light-purple-color);
}

/* иконки соц сетей */
.footer__social-link {
  display: block;
  color: var(--white-color);
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* анимация иконок */
  transition-duration: 0.35s;
  transition-property: color, outline-color;
  transition-delay: 0.1s;
}

.footer__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center; 
  text-transform: uppercase;
  margin-bottom: 46px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 147px;
}

.footer__adress {
  display: flex;
  flex-direction: column;
}

.footer__adress-top {
  padding-left: 61px;
  margin-bottom: 35px;
}

.footer__text:not(:last-child) {
  margin-bottom: 12px;
}

.footer__text:first-child {
  margin-bottom: 43px;
}

.footer__link-adress {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  color: var(--white-color);
  text-decoration: none;
  white-space: pre-line;
  margin-bottom: 39px;
}

.footer__link-adress::before {
  content: '';
  background-image: url(../img/contacts/location.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 50px;
  width: 50px;
  left: -64px;
  bottom: -7px;
}

.footer__link-phone {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  color: var(--white-color);
  text-decoration: none;
}

.footer__link-phone::before {
  content: '';
  background-image: url(../img/contacts/bx_bxs-phone-call.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 50px;
  width: 50px;
  left: -63px;
  bottom: -21px;
}

.footer__link-mail {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  color: var(--white-color);
  text-decoration: none;
}

.footer__link-mail::before {
  content: '';
  background-image: url(../img/contacts/envelope_mail.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 50px;
  width: 50px;
  left: -59px;
  bottom: -22px;
}

.footer__social {
  display: flex;
  vertical-align: bottom;
  width: 289px;
  height: 49px;
  list-style: none;
  padding-top: 5px;
}

.footer__item:not(:last-child) {
  margin-right: 25px;
}

.footer__author {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer__author-right {
  text-align: right;
}

.test {
  counter-reset: count 0;
}

@media (max-width: 1200px) {

  .footer {
    padding-top: 22px;
  }

  .footer__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .footer__contacts {
    max-width: 541px;
    gap: 59px;
    margin-bottom: 96px;
  }

  .footer__img-map {

    /* max-width: 100%;
    max-height: 100%; */
    /* max-width: 542px;
    max-height: 274px; */
    height: 275px;
    /* object-fit: cover;
    object-position: 0px -11px; */
  }

  .footer__adress-top {
    padding-left: 40px;
    margin-bottom: 34px;
  }

  .footer__text:not(:last-child) {
    
  }

  .footer__link-phone {
    white-space: nowrap;
  }

  .footer__link-adress::before {
    left: -40px;
    bottom: -11px;
    background-size: 26px 26px;
  }

  .footer__link-phone::before {
    left: -39px;
    bottom: -29px;
    background-size: 26px 26px;
  }

  .footer__link-mail::before {
    left: -39px;
    bottom: -20px;
    background-size: 26px 26px;
  }

  .footer__social-link {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 962px) {

  .footer {
    display: none;
  }
}