.game-over__button-reserved:hover {
  background-color: var(--purple-color);
  color: var(--white-color);
}

.game-over__button-reserved:focus {
  background-color: var(--purple-color);
  color: var(--white-color);
  outline: none;
}

.game-over__button-reserved:active {
  display: block;
  background-color: var(--violet-color);
}

.game-over__arrow:hover {
  content: '';
  background-image: url(../img/first-section/down_hover.svg);
}

.game-over__arrow:focus {
  content: '';
  background-image: url(../img/first-section/down_focus.svg);
  outline-color: var(--light-purple-color);
}

.game-over__arrow:active {
  content: '';
  background-image: url(../img/first-section/down_active.svg);
}

.game-over__container {
  position: relative;
  min-height: 823px;
  z-index: 0;
}

.game-over__container::before {
  content: '';
  background-image: url(../img/first-section/banner.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 762px;
  width: 675px;
  right: 30px;
  bottom: 0px;
  z-index: 0;
}

.game-over__title {
  font-size: 150px;
  line-height: 150px;
  font-weight: 900;
  letter-spacing: -0.1em;
  margin: 0;
}

.game-over__text-undertitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  padding-left: 100px;
}

.game-over__text {
  display: flex;
  max-width: 399px;
  justify-content: space-between;
  align-content: flex-end;
  padding-top: 30px;
  z-index: 1;
  margin-bottom: 150px;
}

.game-over__text-left {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end;
  align-content: space-between; */
  margin-right: 40px;
  /* height: 209px; */
}

.game-over__text-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-content: space-between; */
  /* height: 174px; */
}

.game-over__text-four {
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: var(--light-purple-color);
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
  text-transform: uppercase;
}

.game-over__text-small {

  font-size: 30px;
  line-height: 35px;
  color: var(--white-color);
  text-align: center;
  margin: 0 auto;
}

.game-over__text-new {
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  color: var(--light-purple-color);
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
  font-variant-caps: small-caps;
}

.game-over__button-reserved {
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  height: 80px;
  width: 374px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--dark-purple-color);
  color: var(--white-color);
  background: var(--dark-purple-color);
  text-transform: uppercase;
  transition-duration: 0.35s, 0.35s;
  transition-property: background-color, color;
  transition-delay: 0.1s;
}

.game-over__link-arrow {}

/* .game-over__arrow {
  display: block;
  position: absolute;
  right: 569px;
  bottom: 90px;

} */

.game-over__arrow {
  display: block;
  width: 97px;
  height: 97px;
  background: url("../img/first-section/down.svg");
  position: absolute;
  right: calc(50% - 48.5px);
  bottom: 90px;
  z-index: 1;
  background-repeat: no-repeat;
  outline: 1px solid transparent;

  /* анимация для стрелки вниз */
  transition-duration: 0.35s, 0.35s;
  transition-property: background-image, outline;
  transition-delay: 0.1s;
  cursor: pointer;
}

@media (max-width: 1240px) {

  .game-over {
    /* display: none; */
  }

  .game-over__title {
    font-size: 120px;
    line-height: 120px;
  }

  .game-over__container {
    min-height: 583px;
  }

  .game-over__container::before {
    width: 453px;
    height: 520px;
    background-size: 457px 520px;
    /* background-size: contain; */
    right: 33px;
  }

  .game-over__text-undertitle {
    font-size: 22px;
    line-height: 30px;
    padding-top: 22px;
  }

  .game-over__text {
    max-width: 348px;
    margin-bottom: 80px;
  }

  .game-over__text-left {
    margin-right: 41px;
  }

  .game-over__text-four {
    font-size: 80px;
    line-height: 113px;
  }

  .game-over__text-small {
    font-size: 26px;
    line-height: 30px;
  }

  .game-over__text-new {
    font-size: 60px;
    line-height: 85px;
  }

  .game-over__button {
    padding-left: 38px;
  }

  .game-over__button-reserved {
    font-size: 22px;
    height: 64px;
    width: 296px;
  }

  .game-over__arrow {
    background-size: 67px 67px;
    right: calc(50% - 61.5px);
    bottom: 15px;
  }
}

@media (max-width: 962px) {

  .game-over {
    /* display: none; */
    padding-top: 25px;
  }

  .game-over__container {
    min-height: 537px;
  }

  .game-over__title {
    font-size: 86px;
    line-height: 86px;
    padding-left: 2px;
  }

  .game-over__text-undertitle {
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0 0 71px;
  }

  .game-over__text {
    padding-top: 51px;
    max-width: 222px;
    margin-bottom: 99px;
    border-radius: 4px;
  }

  .game-over__text-left {
    margin-right: 31px;
  }

  .game-over__text-four {
    font-size: 50px;
    line-height: 70.5px;
  }

  .game-over__text-small {
    font-size: 16px;
    line-height: 18.4px;
  }

  .game-over__text-new {
    font-size: 40px;
    line-height: 56.4px;
  }

  .game-over__container::before {
    width: 411px;
    height: 480px;
    background-size: 420px 480px;
  }

  .game-over__button {
    padding-left: 0px;
  }

  .game-over__button-reserved {
    width: 214px;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
  }

  .game-over__arrow {
    display: none;
  }
}

@media (max-width: 748px) {

  .game-over__container::before {
    width: 342px;
    height: 430px;
    background-size: 366px 423px;
  }

  .game-over__text {
    margin-bottom: 12px;
  }
}

@media (max-width: 555px) {
  .game-over {
    /* display: none; */
    padding: 24px 0 28px 0;
  }

  .game-over__container {
    min-height: 204px;
  }

  .game-over__title {
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -0.08em;
    padding-left: 15px;
  }

  .game-over__text-undertitle {
    font-size: 10px;
    line-height: 14px;
    padding: 5px 0 0 35px;
  }

  .game-over__container::before {
    width: 161px;
    height: 181px;
    background-size: 161px 181px;
    left: 154px;
    top: 22px;
  }

  .game-over__text {
    padding-top: 10px;
    justify-content: flex-start;
    gap: 62px;
    padding-left: 15px;
    margin-bottom: 30px;
  }

  .game-over__text-left {
    margin-right: -48px;
  }

  .game-over__text-four {
    font-size: 26px;
    line-height: 37px;
  }

  .game-over__text-new {
    font-size: 22px;
    line-height: 31px;
  }

  .game-over__text-small {
    font-size: 10px;
    line-height: 11px;
    max-width: 65px;
  }

  .game-over__button {
    padding-left: 14px;
  }

  .game-over__button-reserved {
    width: 117px;
    height: 27px;
    font-size: 10px;
    line-height: 12px;
    border-radius: 4px;
  }

}