.game-over__container {
  position: relative;
  min-height: 823px;
  z-index: 0;
}

.game-over__container::before {
  content: '';
  background-image: url(../img/first-section/banner.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 762px;
  width: 675px;
  right: 30px;
  bottom: 0px;
  z-index: 0;
}

.game-over__title {
  font-size: 150px;
  line-height: 150px;
  font-weight: 900;
  letter-spacing: -0.1em;
  margin: 0;
}

.game-over__text-undertitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  margin-left: 100px;
}

.game-over__text {
  display: flex;
  max-width: 399px;
  justify-content: space-between;
  align-content: flex-end;
  padding-top: 30px;
  z-index: 1;
  margin-bottom: 150px;
}

.game-over__text-left {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end;
  align-content: space-between; */
  margin-right: 40px;
  /* height: 209px; */
}

.game-over__text-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-content: space-between; */
  /* height: 174px; */
}

.game-over__text-four {
  font-weight: 900;
  font-size: 120px;
  line-height: 100%;
  color: #CD06FF;
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
  text-transform: uppercase;
}

.game-over__text-small {
  
  font-size: 30px;
  line-height: 100%;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.game-over__text-new {
  font-weight: 900;
  font-size: 75px;
  line-height: 100%;
  color: #CD06FF;
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
  font-variant-caps: small-caps;
}

.game-over__button-reserved {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  height: 60px;
  width: 300px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #6C0287;
  color: #fff;
  background: #6C0287;
  text-transform: uppercase;
}

.game-over__arrow {
  position: absolute;
  right: 569px;
  bottom: 90px;
}