.header__button:hover, .header__button:focus {
  background-color: #6C0287;
  color: #FFFFFF;
}

.header__button:active {
  border: 1px solid #000000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__img {
}

.header__link {
  color: #FFFFFF;
}

.header__list {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  gap: 40px;
}

.header__item {
  white-space: nowrap;
}

.header__button {
  width: 280px;
  height: 55px;
  font-weight: Bold;
  font-size: 22px;
  Line-height: 30px;
  text-transform: uppercase;
  background: #1B1A1B;
  color: #FFFFFF;
  border: 3px #CD06FF solid;
  border-radius: 10px;
}
