.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__img {
  margin-right: 96px;
}

.header__link {
  color: #FFFFFF;
}

.header__list {
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  margin-right: 97px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__button {
  width: 280px;
  height: 55px;
}
