/* стилизация радио (кружочка) */

/* стилизация (позиционирование) радио */
.reserved__radio-focus {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -35px;
}

.reserved__radio-focus:before {
  content: '';
  /* position: absolute; */
  /* top: 5;
  left: 5; */
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: var(--white-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  /* убираем черную рамку при нажатии */
  outline-color: var(--deep-purple-color);
  /* анимация рамки и тени чекбокса */
  transition-duration: 0.35s, 0.35s;
  transition-property: box-shadow, outline-color;
  /* плавный переход */
  transition-timing-function: ease-in-out;
}

/* стилизация черной точки выделения в радио */
.reserved__radio-focus:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 8px;
  width: 10px;
  height: 10px;
  border: 6px solid var(--black-color);
  border-radius: 6px;
  opacity: 0;
  transform: rotate(-45deg);
  /* анимация черной точки выделения радио */
  transition-duration: 0.35s;
  transition-property: opacity;
  transition-delay: 0.1s;
}

.reserved__radio-focus:focus-visible {
  outline: none
}

.reserved__radio-focus:checked:after {
  opacity: 1
}

/* кружок вокруг чек-бокс при выделении */
.reserved__radio-focus:focus:before {
  outline: 1px solid var(--light-purple-color);
  outline-offset: 3px;
}

/* тень вокруг чекбокса */
.reserved__radio-focus:hover:not(:disabled):before {
  box-shadow: 0px 0px 10px rgba(205, 6, 255, 1);
}

.reserved__radio-focus:disabled:before {
  background-color: var(--gray-color);
}

/* стилизация квадратиков чекбоксов */

/* позиционирование чекбокса */
.reserved__checkbox-focus {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -38px;
}

/* стилизация самого чекбокса */
.reserved__checkbox-focus:before {
  content: '';
  /* position: absolute;
  top: 5;
  left: 5; */
  display: block;
  width: 25px;
  height: 25px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  /* убираем черную рамку при нажатии */
  outline-color: var(--deep-purple-color);
  /* анимация рамки и тени чекбокса */
  transition-duration: 0.35s, 0.35s;
  transition-property: box-shadow, outline-color;
  /* плавный переход */
  transition-timing-function: ease-in-out;
}

/* стилизация галочки в чекбоксе */
.reserved__checkbox-focus:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 8px;
  width: 10px;
  height: 10px;
  border: 3px solid var(--black-color);
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
  /* анимация галочки выделения радио */
  transition-duration: 0.35s;
  transition-property: opacity;
  transition-delay: 0.1s;
}

.reserved__checkbox-focus:focus-visible {
  outline: none
}

.reserved__checkbox-focus:checked:after {
  opacity: 1
}

/* рамка вокруг чек-бокс при выделении */
.reserved__checkbox-focus:focus:before {
  outline: 1px solid var(--light-purple-color);
  outline-offset: 3px;
}

/* тень вокруг чекбокса */
.reserved__checkbox-focus:hover:not(:disabled):before {
  box-shadow: 0px 0px 10px rgba(205, 6, 255, 1);
}

.reserved__checkbox-focus:disabled:before {
  background-color: var(--gray-color);
}

/* стилизация кнопок выбора зала в форме */

.reserved__label-halls:hover {
  outline: 3px solid var(--violet-color);
  outline-offset: -2px;
  border-radius: 8px;
  background-color: var(--white-purple-color);
}

.reserved__label-halls:focus {
  outline: 3px solid var(--violet-color);
  outline-offset: -2px;
  border-radius: 8px;
  background-color: var(--white-color);
}

.reserved__label-halls:active {
  outline: 3px solid var(--white-color);
  outline-offset: -2px;
  border-radius: 8px;
  background-color: var(--dark-purple-color);
  color: var(--white-color);
}

/* стилизация полей ввода */

.reserved__input:focus {
  outline: 2px solid var(--light-purple-color);
  /* задаем отступ для границы внутри инпута */
  outline-offset: -3px;
  /* анимация полей ввода (инпутов) */
  transition-duration: 0.2s;
  transition-property: outline;
  transition-delay: 0.1s;  
}

/* стилизация кнопки Забронировать в форме */

.reserved__button-bottom:hover {
  outline: 3px solid var(--dark-purple-color);
  background-color: var(--white-purple-color);
  outline-offset: -3px;
}

.reserved__button-bottom:focus {
  outline: 3px solid var(--dark-purple-color);
  outline-offset: -3px;
  background-color: var(--white-color);
}

.reserved__button-bottom:active {
  background-color: var(--white-purple-color);
  outline: none;
}

.reserved {
  margin: 0 auto;
  background: var(--deep-purple-color);
  padding: 80px 0;
}

.reserved__container {
  max-width: 1440px;
  padding: 80px 0;
  margin: 0 auto;
  background: var(--deep-purple-color);
}

.reserved__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.reserved__form {
  background: var(--deep-purple-color);
}

/* Выбери зал */
.reserved__fieldset-halls {
  border: 0 none;
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 60px;
  max-width: 1180px;
}

.reserved__legend-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;  
  text-align: center;
  margin-bottom: 38px;
}

.reserved__legend-title-bottom {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;  
  text-align: center;
  margin-bottom: 40px;
}

/* делаем из радио элементов кнопки, убираем точки */
.reserved__radio-halls {
	display: none;
}

/* стили для кнопок "выбери зал" */
.reserved__label-halls {
	display: inline-block;
	cursor: pointer;
	padding: 7px 15px;
	line-height: 34px;
	/* border: 1px solid #999; */
	border-radius: 6px;
	user-select: none;
  width: 250px;
  height: 55px;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  /* анимация для кнопок */
  transition-duration: 0.35s, 0.35s;
  transition-property: background-color, color;
  transition-delay: 0.1s;
}

/* Собери набор развлечений */
.reserved__fieldset-entertainment {
  border: 0 none;
  display: flex;
  justify-content: space-between;
  border: 0 none;
  margin: 0 auto;
  margin-bottom: 39px;
  max-width: 980px;
  gap: 100px;
}

.reserved__fieldset-check {
  display: flex;
  flex-direction: column;
  border: 0 none;
  /* margin: 0 auto; */
  margin-right: 10px;
}

.fieldset-left {
  padding: 1px 0 0 2px;
}

.fieldset-center {
  padding: 0 11px 0 2px;
}

.fieldset-right {
  /* padding: 2px 2px 0 2px; */
}

.reserved__legend-check {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 27px;
  padding-top: 2px;
}

.reserved__label-entertainment {
  position: relative;
  display: block;
  margin-bottom: 26px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  padding-left: 36px;
}

.reserved__label-entertainment:not(:last-child) {
  margin-bottom: 20px;
}

/* Выбери дату и время */
/* общий fieldset для 3 колонок инпутов выбор даты и времени */
.reserved__fieldset-date {
  border: 0 none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 980px;
  height: 228px;
  gap: 50px;
  margin-bottom: 40px;
}

/* левый ряд инпутов */
.reserved__fieldset-date-left {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 300px;
  gap: 23px 15px;
  padding-top: 16px;
}

.reserved__input-left-top {
  width: 45%;
  height: 55px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 11px;
}

.reserved__input-left-bottom {
  width: 100%;
  height: 52px;
}

/* средний ряд инпутов */

.reserved__fieldset-date-center {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  gap: 3px ;
}

.reserved__fieldset-date-center label:not(:last-child) {
  margin-bottom: 14px;
}

.reserved__input-center {
  width: 100%;
  height: 55px;
}

.reserved__label-center-top {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.reserved__label-center-bottom {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

/* правый ряд инпутов */

.reserved__fieldset-date-right {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  gap: 3px;
  /* задаем ширину формам */
}

.reserved__input-right {
  width: 100%;
  height: 55px;
}

.reserved__label-right-top {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 14px;
}

.reserved__label-right-bottom {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

}

.reserved__button-box {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.reserved__button-bottom {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  height: 60px;
  width: 300px;
  border-radius: 10px;
  color: var(--dark-purple-color);
  border: none;
  /* анимация кнопки */
  transition-duration: 0.35s, 0.35s, 0.35s, 1ms;
  transition-property: background-color, color, outline-offset, outline;
  transition-delay: 0.1s;
  text-transform: uppercase;
}

@media (max-width: 1200px) {

  .reserved {
    padding-top: 59px;
  }
}
