.reserved__container {
  max-width: 1440px;
  padding: 80px 0;
  margin: 0 auto;
  background: #440F51;
}

.reserved__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.reserved__form {
  background: #440F51;
  padding: 0 130px;
}

.reserved__fieldset-halls {
  border: 0 none;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.reserved__legend-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;  
  text-align: center;
  margin-bottom: 60px;
}

.reserved__wrapper-halls {
  display: flex;
  justify-content: space-between;
}

.reserved__label-halls {
  text-transform: uppercase;
}

.reserved__fieldset-entertainment {
  border: 0 none;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  border: 0 none;
  padding-left: 100px;
}

.reserved__fieldset-check {
  display: flex;
  flex-direction: column;
  border: 0 none;
}

.reserved__legend-check {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}

.reserved__fieldset-check label {
  font-size: 22px;
  line-height: 100%;
  font-weight: 400;
}

.reserved__fieldset-check label:not(:last-child) {
  margin-bottom: 20px;
}

.reserved__fieldset-check input {
  margin-right: 12px;
  border: 0 none;
  zoom: 1.5;
  /* тут что-то наколхозил */
}

/* общий fieldset для 3 колонок инпутов */
.reserved__fieldset-date {
  border: 0 none;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 40px;
  height: 228px;
}

/* левый ряд инпутов */
.reserved__fieldset-date_left {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 50px;
}

.reserved__input-left-top {
  width: 134px;
  height: 52px;
  /* margin-bottom: 36px; */
  font-size: 18px;
  line-height: 28px;
}

.reserved__input-left-bootom {
  width: 300px;
  /* height: 52px; */
  /* ширина не встает */
}

/* средний ряд инпутов */

.reserved__fieldset-date_center {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.reserved__fieldset-date_center label:not(:last-child) {
  margin-bottom: 36px;
}

.reserved__input-center {
  width: 280px;
  height: 52px;
}

.reserved__label_center-top {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.reserved__label_center-top::before {
  content: 'Имя';
  position: absolute;
  left: 0px;
  bottom: 58px;
}

.reserved__label_center-bottom {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.reserved__label_center-bottom::before {
  content: 'Фамилия';
  position: absolute;
  left: 0px;
  bottom: 58px;
}

/* правый ряд инпутов */

.reserved__fieldset-date_right {
  display: flex;
  flex-direction: column;
}

.reserved__input_right {
  width: 300px;
  height: 52px;
}

.reserved__label_right-top {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 36px;
}

.reserved__label_right-top::before {
  content: 'Телефон';
  position: absolute;
  left: 0px;
  bottom: 58px;
}

.reserved__label_right-bottom {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 36px;
}

.reserved__label_right-bottom::before {
  content: 'E-mail';
  position: absolute;
  left: 0px;
  bottom: 58px;
}

.reserved__button-bottom {
  /* align-self: flex-end; */
  /* justify-self: end; */
  /* display: inline-block; */
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  height: 60px;
  width: 300px;
  border-radius: 10px
}

.form_radio_btn {
	/* display: inline-block; */
	margin-right: 10px;
  /* height: 55px;
  width: 250px; */
}
.form_radio_btn input[type=radio] {
	display: none;
}

.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
  background-color: #fff;
  color: #000000;
  font-style: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;

}