.reviews__title {
  font-style: Bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__figure {
  display: inline-block;
  margin-right: 16px;
  padding-left: 99px;
}

.reviews__figcaption {
  text-align: center;
  font-style: Regular;
  font-size: 20px;
  line-height: 28px;
}

.reviews__text {
  display: inline-block;
  max-width: 680px;
  padding-top: 52px;
  vertical-align: top;
  font-size: 20px;
  line-height: 28px;
}

.reviews__img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 7px;
}

.reviews__img-1 {
  object-position: 1px -3px;
}

.reviews__img-2 {
  object-position: 1px -42px;
}

.reviews__img-3 {
  object-position: 1px -86px;
}

/* градиент надо фото посетителей в отзывах */
.reviews__filter {
  position: relative;
}

.reviews__filter:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 280px;
  height: 280px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  border-radius: 50%;
}

@media (max-width: 1256px) {
  .reviews {
    padding-top: 26px;
  }

  .reviews__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;
  }

  .reviews__text {
    max-width: 515px;
    font-size: 18px;
    line-height: 26px;
    padding: 34px 0 0 18px;
  }

  .reviews__img {
    height: 172px;
    width: 172px;
    margin-bottom: 18px;
  }

  .reviews__img-2 {
    object-position: 1px -27px;
  }

  .reviews__img-3 {
    object-position: 1px -54px;
  }

  .reviews__filter::after {
    height: 172px;
    width: 172px;
    /* top: -19px;
    left: 0px; */
  }

  .reviews__figcaption {
    font-size: 18px;
    line-height: 26px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (max-width: 962px) {

  .reviews {
    /* display: none; */
  }

  .reviews__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .reviews__figure {
    margin-right: 9px;
    padding: 5px 0 0 62px;
  }

  .reviews__img-1 {
    object-position: 1px 0px;
}

  .reviews__img-2 {
    object-position: 2px -23px;
  }

  .reviews__img-3 {
    object-position: 2px -48px;
  }

  /* .reviews__item {
    padding-right: 10px;
  } */

  .reviews__img {
    height: 153px;
    width: 153px;
    margin-bottom: 14px;
  }

  .reviews__filter::after {
    height: 153px;
    width: 153px;
    top: 0px;
    left: 0px;
  }

  .reviews__figcaption {
    font-size: 14px;
    line-height: 20px;
  }

  .reviews__text {
    max-width: 393px;
    font-size: 16px;
    line-height: 22px;
    padding: 37px 0 0 2px;
  }
}

@media (max-width: 748px) {
.reviews__text {
  max-width: 236px;
}
}

@media (max-width: 569px) {
  .reviews {
    /* display: none; */
    padding: 32px 0 19px 0;
    min-height: 710px;
  }

  .reviews__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
}

.reviews__item:not(:last-child) {
  margin-bottom: 22px;
}

.reviews__figure {
  padding: 0px 0 0 0px;
  text-align: center;
  width: 280px;
}

.reviews__img {
  height: 86px;
  width: 86px;
  margin-bottom: 5px;
}

.reviews__img-1 {
  object-position: 0px 0px;
}

.reviews__img-2 {
  object-position: 0px -14px;
}

.reviews__img-3 {
  object-position: 0px -28px;
}

.reviews__filter {
  /* text-align: center; */
}

.reviews__filter::after {
  height: 86px;
  width: 86px;
  top: 0px;
  left: 97px;
}

.reviews__text {
  max-width: 280px;
  font-size: 12px;
  line-height: 16px;
  padding: 16px 0 0 0px;
}


}