.reviews__title {
  font-style: Bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.reviews__list {
  display: grid;
  padding: 0px 0 0 99px;
  grid-template-columns: minmax(980px, 424px);
  grid-template-rows: repeat(3, 319px);
  gap: 50px;
  grid-template-areas:
      "item-1"
      "item-2"
      "item-3";
}

.reviews__item-1 {
  grid-area: item-1;
}

.reviews__item-2 {
  grid-area: item-2;
}

.reviews__item-3 {
  grid-area: item-3;
}

.reviews__item {
  display: flex;
  gap: 20px;
}

/* .reviews__item:not(:last-child) {
  margin-bottom: 50px;
} */

.reviews__figure {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.reviews__figcaption {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.reviews__text {
  /* display: inline-block; */
  max-width: 680px;
  padding-top: 52px;
  /* vertical-align: top; */
  font-size: 20px;
  line-height: 28px;
}

.reviews__img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 8px;
}

.reviews__img-2 {
  object-position: 1px -41px;
}

.reviews__img-3 {
  object-position: 1px -82px;
}

/* градиент над фото посетителей в отзывах */
.reviews__filter {
  position: relative;
}

.reviews__filter:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 280px;
  height: 280px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .reviews {
    display: none;
  }
}