.room__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.room__wrapper {
  display: flex;
  /* align-items: center; */
  gap: 80px;
}

.room__img {
  max-width: 600px;
  height: 423px;
  object-fit: cover;
}

.room__wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 135px; */
}

.room__text {
  font-size: 20px;
  line-height: 28px;
  /* white-space: pre; */
}

.room__text:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 1256px) {

  .room {
    padding-top: 41px;
  }

  .room__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .room__wrapper {
    gap: 29px;
  }

  .room__img {
    max-width: 461px;
    height: 326px;
  }

  .room__wrapper-text {
    min-width: 413px;
    /* padding-top: 87px; */
  }

  .room__text {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 962px) {

  .room {
    /* display: none; */
    padding-top: 30px;
  }

  .room__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 29px;
  }

  .room__wrapper {
    gap: 48px;
  }

  .room__img {
    max-width: 327px;
    height: 326px;
  }

  .room__wrapper-text {
    min-width: 313px;
    /* padding-top: 74px; */
  }

  .room__text {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 748px) {

  .room {
    /* display: none; */
  }

  .room__wrapper {
    align-items: center;
    gap: 28px;
  }

  .room__img {
    max-width: 274px;
    height: 202px;
}

.room__wrapper-text {
  min-width: 218px;
  padding-top: 0px;
}
}

@media (max-width: 569px) {
  .room {
    /* display: none; */
    padding: 7px 0 3px 0;
  }

  .room__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}

.room__wrapper {
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.room__img {
  max-width: 279px;
  height: 180px;
}

.room__text {
  font-size: 12px;
  line-height: 16px;
}

}