.room__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.room__wrapper {
  display: flex;
  /* align-items: center; */
  gap: 80px;
}

.room__img {
  max-width: 600px;
  height: 423px;
  object-fit: cover;
}

.room__wrapper-text {
  display: flex;
  flex-direction: column;
  padding-top: 135px;
}

.room__text {
  font-size: 20px;
  line-height: 28px;
  /* white-space: pre; */
}

.room__text:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 1256px) {

  .room {
    padding-top: 41px;
  }

  .room__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .room__wrapper {
    gap: 29px;
  }

  .room__img {
    max-width: 461px;
    height: 326px;
  }

  .room__wrapper-text {
    min-width: 413px;
    padding-top: 87px;
  }

  .room__text {
    font-size: 18px;
    line-height: 28px;
  }
}