:root {
  --background-color: #1B1A1B;
  --white-color: #ffffff;
  --black-color: #000000;
  --deep-purple-color: #440F51;
  --light-purple-color: #CD06FF;
  --white-purple-color: #EADEED;
  --dark-purple-color: #6C0287;
  --purple-color: #840AA3;
  --violet-color: #640AA3;
  --graphite-black-color: #1C1A1A;
  --gray-color: #cccccc;
}